<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="J:/3. automation testing/day34-- folder structure of maven ,upload to github/Assignment Answers/restfullbooker/src/test/java/org/restfullbooker/task_1_positive/_2_createbooking"><classes><class name="org.restfullbooker.task_1_positive._2_createbooking.RestfullBookerCreateBookingTestCases"><methods><include name="resfullBookerCreateBookingStatusOk"/><include name="resfullBoookerCreateBokingHeaderContentType"/><include name="resfullBoookerTokenBodyJsonSchema"/></methods></class></classes></test></suite>